.groupContainer {

}

.groupHeaderBlock {
  background: #999999;
  height: 30px;
  text-align: center;
  display: table;
  width: 100%;
}
.groupHeaderBlockCell {
  display: table-cell;
  vertical-align: middle;
  color: black;
  font-weight: bold;
}
