.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background: #dddddd;
}

.projectView {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.projectDisabledOverlay::before {
  content: '';
  position: absolute;
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  z-index: 9999999;
  pointer-events: all;
}
