.pipeDialogContainer {
  width: 100%;
  height: 100%;
  background-color: #aaaaaa;
}

.pipeScanContainer .scanContainer {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  height: 100%;
}

.pipeScanContainer {
  height: 300px;
}

