.projectDialogContainer {

}

.projectName {
  margin-bottom: 10px;
  position: relative;
}

.projectName .inputNumberUnitToggle {
  top: 0px;
  width: 50%;
  right: 0px;
}

.projectName span {
  margin-right: 10px;
}

.text-right {
  text-align: right;
}
